:host {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
}
mat-tab-group {
    position: absolute;
    width: 18.75rem; //300px
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;

    @media screen and (min-width: '550px') {
        width: 25rem; //400px
    }
}